<% payment_method ||= Spree::PaymentMethod.where(type: 'Spree::PaymentMethod::Daibiki').first %>
<% preferences = payment_method.preferences %>
<% fee = @order.total.to_i > preferences[:daibiki_over_amount] ? preferences[:daibiki_fee_big] : preferences[:daibiki_fee] %>
<% max_amount = preferences[:daibki_max_amount] %>

<div class="mt-2" id="daibiki-description" data-total-max="<%= max_amount %>" data-warning-message="<%= t('.daibiki_exceed_max_warning', max_amount:) %>" data-payment-id="<%= payment_method.id %>" data-order-total="<%= @current_order.total.to_i %>">
  <h4><%= t('.daibiki_checkout_title') %></h4>
  <p>
    <strong><%= t('.daibiki_checkout_instructions') %></strong><br>
    <span><%= t('.daibiki_checkout_fee', fee: Spree::Money.new(fee, currency: @order.currency).to_html).html_safe %></span>
  </p>
</div>
